.THIS .background{
    top: 0;
    z-index: -1000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.THIS .full-height{
    height: 100%;
}
.THIS .horizontal-option .slds-radio{
    display : inline-block;
}