<apex:page standardController="Employee__c" extensions="AIEmployeeDetailsController" standardStylesheets="true" sidebar="false">
<!--    <apex:slds />
    <div class="slds-scope" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <div id="showEmpDetails">
            <apex:form >
                <div class="slds-page-header">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
                            <p class="slds-text-title_caps slds-line-height_reset">Agent Lookup</p>
                            <table class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
                                <thead>
                                    <tr class="slds-line-height_reset">
                                        <th aria-label="Name" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-truncate" title="Name">Name</span>
                                                    <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </a>
                                            <div class="slds-resizable">
                                                <input type="range" aria-label="Name column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-526" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                    <span class="slds-resizable__divider"></span>
                                                </span>
                                            </div>
                                        </th>
                                        <th aria-label="Account Name" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-truncate" title="Account Name">Employee</span>
                                                    <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </a>
                                            <div class="slds-resizable">
                                                <input type="range" aria-label="Account Name column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-527" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                    <span class="slds-resizable__divider"></span>
                                                </span>
                                            </div>
                                        </th>
                                        <th aria-label="Close Date" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-truncate" title="Close Date">Manager</span>
                                                    <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </a>
                                            <div class="slds-resizable">
                                                <input type="range" aria-label="Close Date column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-528" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                    <span class="slds-resizable__divider"></span>
                                                </span>
                                            </div>
                                        </th>
                                        <th class="" scope="col" style="width:3.25rem">
                                            <div class="slds-truncate slds-assistive-text" title="Actions">Actions</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat var="myTeam" value="{!teamEmpMap}">
                                        <tr class="slds-hint-parent">
                                            <th scope="row" tabindex="0">
                                                <div class="slds-truncate" title="EmpId">
                                                    <apex:outputlink value="/{!teamEmpMap[myTeam].Id}" target="_blank">{!teamEmpMap[myTeam].Name}</apex:outputlink>
                                                </div>
                                            </th>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title="EmpFullName">
                                                    <apex:outputText value="{!teamEmpMap[myTeam].Full_Name__c}"/>
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title="EmpManager">
                                                    <apex:outputText value="{!teamEmpMap[myTeam].in_gage__Manager_User__c}"/>
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                    <apex:commandLink action="{!getTeamResults}" value="View Details" reRender="teamResults">
                    									<apex:param name="sParam" value="{!teamEmpMap[myTeam].Id}" assignTo="{!empIdForTeamResults}"/>
                    								</apex:commandLink>
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>  
                    </div>
                    <div class="myapp">
                        <div class="slds-grid slds-m-top_large">
                            <div class="slds-col slds-col_rule-right slds-p-right_large slds-size_4-of-4">
                                <div class="slds-section slds-is-open">
                                    <h1 class="slds-section__title slds-theme_shade">
                                        <span class="slds-truncate slds-p-horizontal_small" title="Section Title">Customer Advocacy - Net Promoter Score</span>
                                    </h1>
                                    <div aria-hidden="false" class="slds-section__content">
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered"  id="teamResults">
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="NPS Name">NPS Name</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="NPS Score">NPS Score</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Loyalty Score">Loyalty Score</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Completed Date">Completed Date</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat var="npsResult" value="{!teamNPSResults}">
                                                    <tr class="slds-hint-parent">
                                                        <th scope="row" tabindex="0">
                                                            <div class="slds-truncate" title="npsName">
                                                                <apex:outputlink value="/{!npsResult.Id}" target="_blank">{!npsResult.Name}</apex:outputlink>
                                                            </div>
                                                        </th>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="npsScore">
                                                                <apex:outputText value="{!npsResult.Answer_1__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="loyaltyScore">
                                                                <apex:outputText value="{!npsResult.Answer_2__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="compDate">
                                                                <apex:outputText value="{!npsResult.Completed_Date__c}"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-section slds-is-open">
                                    <h1 class="slds-section__title slds-theme_shade">
                                        <span class="slds-truncate slds-p-horizontal_small" title="Section Title">Consistency of Experience - Quality Assessment Form</span>
                                    </h1>
                                    <div aria-hidden="false" class="slds-section__content">
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="QAF Name">QAF Name</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Total Score%">Total Score %</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Created Date">Close Date</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Submitted Date">Submitted Date</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat var="qaResult" value="{!teamQAFResults}">
                                                    <tr class="slds-hint-parent">
                                                        <th scope="row" tabindex="0">
                                                            <div class="slds-truncate" title="qaName">
                                                                <apex:outputlink value="/{!qaResult.Id}" target="_blank">{!qaResult.Name}</apex:outputlink>
                                                            </div>
                                                        </th>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="perComp">
                                                                <apex:outputText value="{!qaResult.Percentage_Completed__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="creDate">
                                                                <apex:outputText value="{!qaResult.CreatedDate}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="subDate">
                                                                <apex:outputText value="{!qaResult.Submitted_Form_Date__c}"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-section slds-is-open">
                                    <h1 class="slds-section__title slds-theme_shade">
                                        <span class="slds-truncate slds-p-horizontal_small" title="Section Title">Coaching Forms</span>
                                    </h1>
                                    <div aria-hidden="false" class="slds-section__content">
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Coaching Form Name">Coaching Form Name</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Category">Category</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Comment">Comments</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="cDate">CreatedDate</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat var="cFResult" value="{!teamCFResults}">
                                                    <tr class="slds-hint-parent">
                                                        <th scope="row" tabindex="0">
                                                            <div class="slds-truncate" title="cIName">
                                                                <apex:outputlink value="/{!cFResult.Id}" target="_blank">{!cFResult.Name}</apex:outputlink>
                                                            </div>
                                                        </th>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="score">
                                                                <apex:outputText value="{!cFResult.Score__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="sDate">
                                                                <apex:outputText value="{!cFResult.Performance_Start_Date__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="eDate">
                                                                <apex:outputText value="{!cFResult.Performance_End_Date__c}"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-section slds-is-open">
                                    <h1 class="slds-section__title slds-theme_shade">
                                        <span class="slds-truncate slds-p-horizontal_small" title="Section Title">Coaching Items</span>
                                    </h1>
                                     <div aria-hidden="false" class="slds-section__content">
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Coaching Item Name">Coaching Item Name</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Category">Category</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="Comment">Comments</div>
                                                    </th>
                                                    <th class="" scope="col">
                                                        <div class="slds-truncate" title="cDate">CreatedDate</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat var="cIResult" value="{!teamCIResults}">
                                                    <tr class="slds-hint-parent">
                                                        <th scope="row" tabindex="0">
                                                            <div class="slds-truncate" title="cIName">
                                                                <apex:outputlink value="/{!cIResult.Id}" target="_blank">{!cIResult.Name}</apex:outputlink>
                                                            </div>
                                                        </th>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="category">
                                                                <apex:outputText value="{!cIResult.Coaching_Item_Catergory__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="comment">
                                                                <apex:outputText value="{!cIResult.Coaching_Item_Comment__c}"/>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate" title="cDate">
                                                                <apex:outputText value="{!cIResult.CreatedDate}"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                             
                    </div>
                </div>
            </apex:form>
            
        </div>
    </div>-->
</apex:page>